.humanspaceflight-navbar-logo {
  width: 250px;
}

.humanspaceflight-container1 {
  background-image: url(../../images/background8.jpg);
  background-position: 0px;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.humanspaceflight-navbar-link {
  text-decoration: none;
  color: white;
  margin: 5px;
  font-size: 12px;

  &:hover {
    color: white;
  }
}

.humanspaceflight-container-text1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.humanspaceflight-container-text1-title {
  font-size: 120px;
  text-align: center;
}

.humanspaceflight-seta-p-baixo {
  padding-top: 20px;
  width: 150px;
  cursor: pointer;
}

.humanspaceflight-container2 {
  background-image: url(../../images/background9.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.humanspaceflight-container2-text-top {
  font-size: 20px;
  padding: 10px;
}

.humanspaceflight-container-text2 {
  padding-top: 200px;
  padding-left: 650px;
}

.humanspaceflight-container3 {
  background-image: url(../../images/background10.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.humanspaceflight-container-text3 {
  padding-top: 200px;
}

.humanspaceflight-container4 {
  background-image: url(../../images/background11.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.humanspaceflight-container-text4 {
  padding-top: 200px;
  padding-left: 650px;
}

.humanspaceflight-footer {
  min-height: 80px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.humanspaceflight-paragraph {
  color: whitesmoke;
}

.humanspaceflight-container5 {
  background-image: url(../../images/background12.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.humanspaceflight-container-text5 {
  padding-top: 200px;
}

.spacehumanflight-container6 {
  background-color: black;
}

.spacehumanflight-content-container6 {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.spacehumanflight-container-text6 {
  font-size: 20px;
  text-align: center;
}

.spacehumanflight-container-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
